<div class="index-items">
  <strong><%= Comment.model_name.human %>:</strong>
  <% if comments.any? %>
    <ul>
      <% comments.each do |comment| %>
        <% if comment.persisted? %>
          <li>
            <%= comment.body %>
            <small>
              (<%= comment.user.name_or_email %><%= l(comment.created_at) %>)
            </small>
            <% if current_user == comment.user %>
              <%= button_to t('views.common.destroy', name: Comment.model_name.human), [comment.commentable, comment], method: :delete, data: {confirm: t('controller.common.notice_delete', name: Comment.model_name.human)} %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    (<%= 'no comments' %>)
  <% end %>
</div>
