<h1><%= t('views.common.title_index', name: User.model_name.human) =%></h1>

<div class="index-items">
  <% @users.each do |user| %>
    <p class="index-item">
      <%= User.human_attribute_name(:email) %>:<%= link_to user.email, user %><br>
      <%= User.human_attribute_name(:address) %>:<%= user.post_code %><br>
      <%= User.human_attribute_name(:post_code) %>:<%= user.address %><br>
      <%= User.human_attribute_name(:introduction) %>:<%= user.introduction %>
    </p>
  <% end %>
</div>

<%= paginate @users %>
