<h1><%= t('views.common.title_index', name: User.model_name.human) =%></h1>

<div class="index-items">
  <% @users.each do |user| %>
    <p class="index-item">
      <%= t('views.user.email', name: User.model_name.human) =%> : <%= link_to user.email, user %><br>
      <%= t('views.user.address', name: User.model_name.human) =%>：<%= user.post_code %><br>
      <%= t('views.user.post_code', name: User.model_name.human) =%>：<%= user.address %><br>
      <%= t('views.user.introduction', name: User.model_name.human) =%>：<%= user.introduction %>
    </p>
  <% end %>
</div>

<%= paginate @users %>
