<h1>ユーザー一覧</h1>

<div class="index-items">
  <% @users.each do |user| %>
    <p class="index-item">
      メール：<%= link_to user.email, user %><br>
      郵便番号：<%= user.post_code %><br>
      住所：<%= user.address %><br>
      自己紹介：<%= user.introduction %>
    </p>
  <% end %>
</div>

<%= paginate @users %>
