<% provide(:title, 'All users') %>
<h1>ユーザー一覧</h1>

<div class="index-items">
  <% @users.each do |user| %>
    <p class="index-item">
      <%= link_to user.email, user %><br>
      <%= user.post_code %><br>
      <%= user.address %><br>
      <%= user.introduction %>
    </p>
  <% end %>
</div>

<%= paginate @users %>
