<h1><%= t('views.common.show', name: User.model_name.human) %></h1>
<ul>
  <li><%= User.human_attribute_name(:email)%>: <%= @user.email %></li>
  <li><%= User.human_attribute_name(:address) %><%= @user.address %></li>
  <li><%= User.human_attribute_name(:post_code) %>: <%= @user.post_code %></li>
  <li><%= User.human_attribute_name(:introduction) %>: <%= @user.introduction %></li>
</ul>
