<p style="color: green"><%= notice %></p>

<h1><%= t('views.index.page_title', model: Book.model_name.human) %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
  <div class="index-item">
    <%= render book %>
    <p>
      <%= link_to t('views.common.show_this_book', model: Book.model_name.human), book %>
    </p>
  </div>
  <% end %>

<nav class="page-nav">
  <%= link_to t('views.common.new_this_book', model: Book.model_name.human), new_book_path %>
</nav>
