<h1><%= t('views.common.title_new', name: Report.model_name.human.downcase) %></h1>
<%= form_for @report do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
    </p>
  <%= f.submit %>
<% end %>
