<h1><%= t('views.common.title_show', name: Report.model_name.human.downcase) %>
<div class="show-item">
  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= @report.title %>
  </p>
  <p>
    <strong><%= Report.human_attribute_name(:body) %>:</strong>
    <%= @report.title %>
  </p>
</div>
<%= render 'comments/comments', { comments: @comments } %>
<%= render 'comments/form', commentable: @report, comment: @comment %>
