<h1><%= t('views.common.title_show', name: Report.model_name.human.downcase) %>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= report.title %>
</p>
<p>
  <strong><%= Report.human_attribute_name(:body) %>:</strong>
  <%= report.title %>
</p>
